@font-face {
    font-family: 'Yeongdeok Haeparang';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/YeongdeokHaeparang/YeongdeokHaeparang.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/YeongdeokHaeparang/YeongdeokHaeparang.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/YeongdeokHaeparang/YeongdeokHaeparang.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/YeongdeokHaeparang/YeongdeokHaeparang.ttf') format('truetype');
}
